* {
   box-sizing: border-box;
}

:root {
   --main-clr: #3d3473;
   --btn-clr: #5d43cb;
   --secondary-clr: #fff;
}

html,
body {
   min-height: 100vh;
   height: 100%;
}

body {
   padding: 0;
   margin: 0;
   background-color: var(--main-clr);

   display: flex;
   justify-content: center;
}

.login--container {
   height: 100%;
   width: 60%;
   padding-inline: 5em;
   background-color: #eee;

   font-family: sans-serif;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.login--img {
   width: 117px;
   height: 100px;
   margin-bottom: 0.75em;

   pointer-events: none;
   user-select: none;
}

.login--form {
   display: flex;
   flex-direction: column;
   width: 100%;
   max-width: 25rem;
}

.login--form > label {
   font-weight: bold;
   font-size: 1.3rem;
   letter-spacing: 0.05rem;
   margin-bottom: 0.4em;
}

.login--btn {
   background-color: var(--btn-clr);
   color: var(--secondary-clr);
   border: none;
   border-radius: 3px;

   margin-block: 1em;

   cursor: pointer;
}

.login--input {
   margin-bottom: 0.6em;
   text-indent: 0.5rem;
}

.login--btn,
.login--input {
   height: 3rem;
}

.login--bottom {
   display: flex;
   justify-content: space-between;
}

@media screen and (max-width: 768px) {
   .login--container {
      width: 85%;
      text-align: center;
      padding-inline: 1.5rem;
   }
   .login--bottom {
      flex-direction: column;
      gap: 0.5rem;
   }
   .login--bottom > a {
      text-decoration: none;
   }
}
